.drawing {
}
.sample {
    fill: #ggg;
    stroke: none;
}
.ball {
    opacity: 0.4;
    fill: #5ddd7b;
    stroke: #21ba45;
    stroke-width: 2;
}
.shape {
    fill: none;
    stroke: #D2691E;
    stroke-width: 2;
}
